<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mobiledevsberkeley.auxmusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- can do fine location if we need better accuracy than +- a block -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpotifyAuthTest"
            android:label="@string/app_name"
            android:noHistory="true">
            // An intent filter that will receive the response
            // from the authentication service
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                // this needs to match the scheme and host of the redirect URI as defined in My
                applications page
                <data
                    android:host="callback"
                    android:scheme="AuxMusic" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Needed for SpotifyAuthTest to work -->
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".CreatePlaylistActivity" />
        <activity android:name=".SearchSongsActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ParticipantsActivity" />
        <activity
            android:name=".PlaylistActivity"
            android:label="@string/title_activity_playlist" />
        <activity android:name=".ActualStartActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".PlaylistActivityGuest"
            android:label="@string/title_activity_playlist_guest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SearchPlaylistsActivity"></activity>
    </application>

</manifest>